pkgbase = vmixrtc-bin
	pkgdesc = Cross-platform vMix title controller (prebuilt)
	pkgver = 0.1.5
	pkgrel = 1
	url = https://github.com/fursyt12/vMixRTC
	arch = x86_64
	license = MIT
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = alsa-lib
	depends = systemd-libs
	optdepends = ndi-sdk: приём NDI и список источников (проприетарный runtime, в репозиториях Arch нет)
	provides = vmixrtc
	conflicts = vmixrtc
	options = !strip
	options = !debug
	source = vMixRTC-linux-x86_64-pkg.tar.zst::https://github.com/fursyt12/vMixRTC/releases/download/rust-v0.1.5/vMixRTC-linux-x86_64-pkg.tar.zst
	sha256sums = 746ad3cb6d82619282de8f8e70c62d59be41dc81212efdce34ed4a23b381dce5

pkgname = vmixrtc-bin
