pkgbase = vmixrtc
	pkgdesc = Cross-platform vMix title controller (widgets, scripts, data providers, NDI)
	pkgver = 0.1.5
	pkgrel = 1
	url = https://github.com/fursyt12/vMixRTC
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = pkgconf
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = alsa-lib
	depends = systemd-libs
	optdepends = ndi-sdk: приём NDI и список источников (проприетарный runtime, в репозиториях Arch нет)
	conflicts = vmixrtc-bin
	options = !debug
	options = !lto
	source = vmixrtc-0.1.5.tar.gz::https://github.com/fursyt12/vMixRTC/archive/refs/tags/rust-v0.1.5.tar.gz
	sha256sums = abcc38dcf803b6ffa8a5e41284d4e16dcb914ff3932a7eaf6d84bf7d3070ce86

pkgname = vmixrtc
